@import url(common/reset.css);

html {
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
}

#wrap {
    width: 100%;
    height: auto;
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-thumb {
    background-color: #ffcccc
        /* border-radius: 10px; */
}

body::-webkit-scrollbar-track {
    /* background-color: rgb(255, 89, 89); */
}

header {
    width: 100%;
    height: auto;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    background-color: rgba(245, 245, 245, 0.658);
}

header .inner-header {
    position: relative;
}

header .inner-header::after {
    content: '';
    display: block;
    clear: both;
    background-color: rgba(245, 245, 245, 0.658);
    width: 100%;
    height: 1px;
}

header .inner-header nav {
    box-sizing: border-box;
    float: right;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
}
header .inner-header nav h1.logo {
    color: #ffffff;
}
header .inner-header nav h1.logo a {
    color: inherit;
}

header .inner-header nav .menu {
    display: none;
}

header .inner-header nav .gnb {
    box-sizing: border-box;
}

header .inner-header nav .gnb>ul {
    
}
header .inner-header nav .gnb>ul::after {
    content: '';
    clear: both;
    display: block;
}

header .inner-header nav .gnb>ul>li {
    /* border: 1px solid; */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    padding: 10px 0;
    float: left;
    margin-left: 15px;
}

header .inner-header nav .gnb>ul>li:hover {
    color: #222222;
}

.liOn {
    /* background-color: rgba(245, 245, 245, 0.726); */
    color: #222222 !important;
}

header .inner-header .right-menu .gnb>ul>li>a {
    display: block;
    /* border: 1px solid; */
    box-sizing: border-box;
    position: relative;
    color: inherit;
}

header .inner-header .right-menu .gnb>ul>li>a::after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    bottom: 3px;
    width: 0;
    height: 1px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
}

header .inner-header .right-menu .gnb>ul>li:hover>a::after {
    content: '';
    display: block;
    position: absolute;
    left: 0%;
    bottom: 0;
    width: 100%;
    height: 1px;
    opacity: 1;
    visibility: visible;
    background-color: #555555;
}


/* aside */
aside {
    position: absolute;
    left: 0;
    top: 49px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: end;
    box-sizing: border-box;
}

aside .inner-aside {
    position: relative;
    width: 100px;
    height: 80vh;
}

aside ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    box-sizing: border-box;
    /* border: 1px solid; */
    position: absolute;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    transition: all 1s ease-in-out;
}

aside ul li {
    color: #f8f8f8;
    line-height: 40px;
    width: 32px;
    height: auto;
}

aside ul li img {
    display: block;
    width: 100%;
    height: auto;
}



/* container */

/* section1 */
.sec1 {
    width: 100%;
    height: 100vh;
    background-color: #181818;
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    box-sizing: border-box;
}

.sec1 .welcome {
    width: 100%;
    max-width: 900px;
}

.sec1 .welcome .title {
    display: flex;
}

.sec1 .welcome h2.title1 {
    display: none;
    font-size: 6rem;
    line-height: 6rem;
    color: #f8f8f8;
    font-weight: 600;
    /* border: 1px solid; */
}

.sec1 .welcome h2.title2 {
    font-size: 4rem;
    line-height: 4rem;
    color: #f8f8f8;
    font-weight: 200;
    padding: 50px 0;
}

.sec1 .welcome p.intro {
    display: none;
    color: #f8f8f8;
    line-height: 2rem;
}

/* section2 */
.sec2 {
    width: 100%;
    height: 110vh;
    background-color: #181818;
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
    box-sizing: border-box;
}

.sec2 .about-box {
    /* border: 1px solid; */
    /* position: absolute;
    left: 40%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 0 30px;
    box-sizing: border-box;
    width: 100%;
    max-width: 800px; */
    width: 100%;
    max-width: 900px;
    display: none;
}

.sec2 .about-box h2.title1 {
    font-size: 5rem;
    line-height: 5rem;
    color: #f8f8f8;
    font-weight: 600;
    padding-bottom: 2rem;
    box-sizing: border-box;
}

.sec2 .about-box .about-bottom {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    width: 100%;
}

.sec2 .about-box .about-bottom .about {
    /* border: 1px solid; */
    flex: 0 1 80%;
}

.sec2 .about-box .about-bottom .about h2.title2 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #f8f8f8;
    font-weight: 300;
    padding-bottom: 2rem;
    box-sizing: border-box;
}

.sec2 .about-box .about-bottom .about p.intro {
    color: #f8f8f8;
    line-height: 1.5rem;
    font-size: 0.8rem;
    font-weight: 300;
}

.sec2 .about-box .about-bottom .img-box {
    /* border: 1px solid #ffffff; */
    flex: 0 1 20%;
    /* height: 160px; */
}

.sec2 .about-box .about-bottom .img-box img {
    display: block;
    width: 100%;
    height: auto;
    padding-top: 76px;
}

/* section3 */

section.sec3 {}

section.sec3 .sec-con {
    width: 100%;
    /* height: 2500px; */
    height: 250vh;
}

section.sec3 .sec-con .sticky-box {
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
}

section.sec3 .sec-con video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
}

section.sec3 .sec-con .sec3-txt {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid; */
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    letter-spacing: 3px;
}

section.sec3 .sec-con .sec3-txt h2.title1 {
    font-size: 2rem;
    cursor: default;
}

section.sec3 .sec-con .sec3-txt p {
    display: none;
    cursor: default;
}

section.sec3 .sec-con .sec3-txt p:last-child:hover {
    color: #ffcccc;
}

section.sec3 .sec-con .sec3-txt p a {
    color: inherit;
}

section.sec3 .sec-con .sec3-txt h1.title {
    line-height: 60px;
    /* padding: 20px 0; */
    font-size: 50px;
}

section.sec3 .sec-con .sec3-txt p {
    line-height: 20px;
    padding: 10px 0;
}

section.sec3 .sec-con .left-box {
    position: absolute;
    z-index: 2;
    /* left: 16.6%; */
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    top: 70%;
    /* border: 1px solid; */
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    letter-spacing: 3px;
}

section.sec3 .sec-con p.pOn {
    /* display: none; */
}

section.sec3 .sec-con .c-box:hover {
    color: #ffa49e;
}

.leftOn {
    left: 16.6% !important;
    opacity: 1 !important;
    visibility: visible !important;
    cursor: pointer;
}

section.sec3 .sec-con .center-box {
    position: absolute;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    /* border: 1px solid; */
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    letter-spacing: 3px;
    top: 70%;
}

.centerOn {
    bottom: 17% !important;
    opacity: 1 !important;
    visibility: visible !important;
    cursor: pointer;
}

section.sec3 .sec-con .right-box {
    position: absolute;
    z-index: 2;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    top: 70%;
    /* border: 1px solid; */
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    letter-spacing: -1px;
}

.rightOn {
    right: 16.6% !important;
    opacity: 1 !important;
    visibility: visible !important;
    cursor: pointer;
}

section.sec3 .sec-con span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
    display: block;
    width: 100px;
    background-color: #ccc;
    padding: 10px;
    line-height: 20px;
    letter-spacing: 3px;
    color: #000;
    cursor: pointer;
    display: none;
}

section.sec3 .sec-con span:hover {
    color: rgb(253, 253, 253);
    background-color: rgb(22, 22, 22);
}

/* section4 */
section.sec4 {
    width: 100%;
    background-color: #181818;
}

section.sec4 .sec-con {
    padding: 200px;
    box-sizing: border-box;
}

section.sec4 .sec-con .title-box {
    display: flex;
}

section.sec4 .sec-con .title-box h2.title1 {
    display: none;
    font-size: 6rem;
    line-height: 6rem;
    color: #f8f8f8;
    font-weight: 600;
}

section.sec4 .sec-con .sticky-box {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    /* max-width: 1200px; */
}
/* section.sec4 .sec-con .sticky-box::after {
    content: '';
    display: block;
    clear: both;
} */

section.sec4 .sec-con .sticky-box .number-box {
    padding-left: 2rem;
    box-sizing: border-box;
    /* float: left; */
}

section.sec4 .sec-con .sticky-box .number-box p.number {
    font-size: 11rem;
    line-height: 11rem;
    font-weight: 600;
    box-sizing: border-box;
    position: sticky;
    top: 10px;
    color: transparent;
    -webkit-text-stroke: 0.5px rgb(255, 255, 255);
    font-family: sans-serif;
    transition: all 0.5s ease-in-out;
    cursor: default;
}

section.sec4 .sec-con .sticky-box .content-box {
    /* padding: 50px 50px 50px 80px; */
    padding: 50px;
    box-sizing: border-box;
    /* float: left; */
}

section.sec4 .sec-con .sticky-box .img-box {
    width: 40vw;
    position: relative;
}

section.sec4 .sec-con .sticky-box .img-box img {
    display: block;
    width: 100%;
    height: auto;
}

section.sec4 .sec-con .sticky-box .img-box::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 100%;
    height: 2px;
    background-color: #f8f8f8;
}

section.sec4 .sec-con .sticky-box .content-box .content {
    padding-top: 20px;
    box-sizing: border-box;
}

section.sec4 .sec-con .sticky-box .content-box .content h3 {
    font-size: 2rem;
    color: #f8f8f8;
    cursor: default;
}

section.sec4 .sec-con .sticky-box .content-box .content p {
    font-size: 1rem;
    color: #f8f8f8;
    cursor: default;
    font-weight: 100;
}

section.sec4 .sec-con .sticky-box .content-box .content a {
    color: #f8f8f8;
    font-size: 0.8rem;
    position: relative;
    transition: all 0.2s ease-in-out;
}

section.sec4 .sec-con .sticky-box .content-box .content a::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1.5px;
    background-color: #000;
    transition: all 0.2s ease-in-out;
}

section.sec4 .sec-con .sticky-box .content-box .content a:hover::after {
    width: 100%;
    background-color: rgb(250, 78, 78);
}

section.sec4 .sec-con .sticky-box .content-box .content a:hover {
    color: rgb(250, 78, 78);
}
/* section5 */
.sec5 {
    width: 100%;
    /* height: 100vh; */
    background-color: #181818;
    padding: calc((100vh - 436px - 150px)/2) 0;
}
.sec5 .sec-con {
    padding: 50px 200px 0 200px;
    box-sizing: border-box;
}
.sec5 .sec-con h2.title1 {
    font-size: 4rem;
    line-height: 4rem;
    color: #f8f8f8;
    font-weight: 600;
}
.sec5 .sec-con p.title2 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #f8f8f8;
    font-weight: 200;
    padding: 20px 0;
}
.sec5 .sec-con .pdf-box {
    border: 1px solid #ffffff;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}
.sec5 .sec-con .pdf-box a {
    display: block;
    position: relative;
}
.sec5 .sec-con .pdf-box a::after {
    content: "Resume";
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -15px;
    color: #f8f8f8;
}
.sec5 .sec-con .pdf-box a:nth-child(2):after {
    content: "portfolio";
}
.sec5 .sec-con .pdf-box a:nth-child(3):after {
    content: "Email";
}
.sec5 .sec-con .pdf-box a img {
    display: block;
    width: 100%;
    height: auto;
}
/* .sec5 .sec-con .pdf-box a::before {
    content: "";
    display: block;
    position: absolute;
    left: 0%;
    width: 100%;
    height: 1px;
    bottom: -15px;
    background-color: #f8f8f8;
} */

/* footer */

footer {
    background-color: #181818;
    position: relative;
}
footer::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: #f8f8f8;
}
footer .inner-footer {
    padding: 15px 0;
}
footer .inner-footer .footer-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f8f8f8;
}
footer .inner-footer .footer-box .phone {
    font-size: 0.8rem;
    line-height: 40px;
}
footer .inner-footer .footer-box .copyright {
    font-size: 0.7rem;
    line-height: 40px;
}

/* 반응형 */

@media only screen and (max-width:1280px) {
    html {
        font-size: 14px;
    }
    .right-menu {
        max-width: 400px !important;
    }
    section.sec4 .sec-con {
        padding: 150px;
    }
}
@media only screen and (max-width:900px) {
    html {
        font-size: 12px;
    }
    section.sec4 .sec-con {
        padding: 100px;
    }
    section.sec4 .sec-con .sticky-box .content-box .content p {
        font-size: 1.5rem;
        margin-bottom: 10px;

    }
    
    section.sec4 .sec-con .sticky-box .content-box .content a {
        font-size: 1.5rem;
    }
}
@media only screen and (max-width:650px) {
    html {
        font-size: 8px;
    }
    section.sec4 .sec-con {
        padding: 100px;
    }
    section.sec4 .sec-con .sticky-box .content-box .content p {
        font-size: 1.5rem;
        margin-bottom: 10px;

    }    
    section.sec4 .sec-con .sticky-box .content-box .content a {
        font-size: 1.5rem;
    }
    .sec5 .sec-con {
        padding: 50px 100px 0 100px;
        box-sizing: border-box;
    }
}
@media only screen and (max-width:550px) {
    html {
        font-size: 4px;
    }
    .gnb {
        display: none;
    }
    .sec1 .welcome p.intro {
        line-height: 5rem;
    }
    .sec2 .about-box .about-bottom .about p.intro {
        line-height: 4rem;
    }
    section.sec4 .sec-con {
        padding: 100px;
    }
    section.sec4 .sec-con .sticky-box .content-box .content p {
        font-size: 1.5rem;
        margin-bottom: 10px;

    }    
    section.sec4 .sec-con .sticky-box .content-box .content a {
        font-size: 1.5rem;
    }
    .sec5 .sec-con {
        padding: 50px 100px 0 100px;
        box-sizing: border-box;
    }
}
@media only screen and (max-width:450px) {
    html {
        font-size: 4px;
    }
    .sec1 .welcome p.intro {
        line-height: 5rem;
    }
    .sec2 .about-box .about-bottom .about p.intro {
        line-height: 4rem;
    }
    section.sec4 .sec-con {
        padding: 100px;
    }
    section.sec4 .sec-con .sticky-box .content-box .content p {
        font-size: 1.5rem;
        margin-bottom: 10px;

    }    
    section.sec4 .sec-con .sticky-box .content-box .content a {
        font-size: 1.5rem;
    }
    .sec5 .sec-con {
        padding: 50px 100px 0 100px;
        box-sizing: border-box;
    }
}
@media only screen and (max-width:380px) {
    html {
        font-size: 1px;
    }
    .sec1 .welcome p.intro {
        line-height: 15rem;
    }
    .sec2 .about-box h2.title1 {
        padding-bottom: 15rem;
    }
    .sec2 .about-box .about-bottom .about p.intro {
        line-height: 15rem;
    }
    section.sec4 .sec-con {
        padding: 100px;
    }
    section.sec4 .sec-con .sticky-box .number-box p.number {
        font-size: 20rem;
        line-height: 20rem;
        top: 20px;
    }
    section.sec4 .sec-con .sticky-box .content-box .content p {
        font-size: 1.5rem;
        margin-bottom: 10px;

    }    
    section.sec4 .sec-con .sticky-box .content-box .content a {
        font-size: 1.5rem;
    }
    .sec5 .sec-con {
        padding: 50px 100px 0 100px;
        box-sizing: border-box;
    }
}
