.container {
    /* background-color: rgb(252, 230, 230); */
}
.container .indexContainer {

}
.container .indexContainer .inner-container {

}
.container .indexContainer .inner-container .sections {

}
.container .indexContainer .inner-container .sections {

}
.container .indexContainer .inner-container .sections .section {
    width: 100%;
    /* height: 100vh; */
    border: 0px solid;
    box-sizing: border-box;
}
/* section1 */
.container .indexContainer .inner-container .sections .section.sec1 {
    
}
.container .indexContainer .inner-container .sections .section.sec1 .sec-con {
    position: relative;
    height: 100vh;
    overflow: hidden;
}
.container .indexContainer .inner-container .sections .section.sec1 .sec-con .gallery {
    width: 600%;
    height: inherit;
    position: absolute;
    left: 0;
}
.container .indexContainer .inner-container .sections .section.sec1 .sec-con .gallery>ul {
    height: inherit;
    display: flex;
    justify-content: space-between;
}
.container .indexContainer .inner-container .sections .section.sec1 .sec-con .gallery>ul>li {
    flex: 1;
    /* border: 0px solid; */
    box-sizing: border-box;
    position: relative;
}
.container .indexContainer .inner-container .sections .section.sec1 .sec-con .gallery>ul>li.gallery1 {
    background: url(../../img/gallery0.jpg) no-repeat 50%/cover;    
}
.container .indexContainer .inner-container .sections .section.sec1 .sec-con .gallery>ul>li.gallery2 {
    background: url(../../img/gallery1.jpg) no-repeat 50%/cover;    
}
.container .indexContainer .inner-container .sections .section.sec1 .sec-con .gallery>ul>li.gallery3 {
    background: url(../../img/gallery2.jpg) no-repeat 50%/cover;    
}
.container .indexContainer .inner-container .sections .section.sec1 .sec-con .gallery>ul>li.gallery4 {
    background: url(../../img/gallery3.jpg) no-repeat 50%/cover;    
}
.container .indexContainer .inner-container .sections .section.sec1 .sec-con .gallery>ul>li .link-box {
    position: absolute;
    left: 12%;
    bottom: 18%;
    /* width: 230px; */
    display: flex;
    justify-content: space-between;
    /* padding: 5px; */
    padding: 0.3125rem;
    box-sizing: border-box;
}
.container .indexContainer .inner-container .sections .section.sec1 .sec-con .gallery>ul>li .link-box a {
    /* font-size: 16px; */
    font-size: 1rem;
    color: #666;
    flex: 1;
    /* line-height: 16px; */
    line-height: 1rem;
    position: relative;
}
.container .indexContainer .inner-container .sections .section.sec1 .sec-con .gallery>ul>li .link-box a:hover {
    color: rgb(250, 78, 78);
}
.container .indexContainer .inner-container .sections .section.sec1 .sec-con .gallery>ul>li .link-box a::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 0;
    opacity: 0;
    background-color: #000;
    transition: all 0.2s ease-in-out;
}
.container .indexContainer .inner-container .sections .section.sec1 .sec-con .gallery>ul>li .link-box a:hover::after {
    width: 100%;
    height: 1px;
    opacity: 1;
    background-color: rgb(250, 78, 78);
}

.container .indexContainer .inner-container .sections .section.sec1 .sec-con .gallery>ul>li .link-box img {
    display: block;
    width: 16px;
    /* height: 15px; */
    height: auto;
    /* display: none; */
}
.container .indexContainer .inner-container .sections .section.sec1 .sec-con .gallery>ul>li .link-box a:hover+img {
    display: block;
}
/* ceter-btn */
.container .indexContainer .inner-container .sections .section.sec1 .sec-con .center-btn {
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    /* padding: 0 10px; */
    padding: 0 0.625rem;
    box-sizing: border-box;
}
.container .indexContainer .inner-container .sections .section.sec1 .sec-con .center-btn span.arrow {
    width: 40px;
    height: 40px;
    /* border: 0px solid; */
    box-sizing: border-box;
    display: block;
    cursor: pointer;
}
.container .indexContainer .inner-container .sections .section.sec1 .sec-con .center-btn span.arrow:nth-child(1){
    background: url(../../img/bg_slide_btn.png) no-repeat 10%/cover;
    background-color: rgba(102, 102, 102, 0.26);
    z-index: 9;
}
.container .indexContainer .inner-container .sections .section.sec1 .sec-con .center-btn span.arrow:nth-child(2){
    background: url(../../img/bg_slide_btn.png) no-repeat 90%/cover;
    background-color: rgba(102, 102, 102, 0.26);
    z-index: 9;
}
/* .bcon */
.container .indexContainer .inner-container .sections .section.sec1 .sec-con .bcon {
    width: 100%;
    position: absolute;
    left: 0;
    /* bottom: 70px; */
    bottom: 4.375rem;
    display: flex;
    justify-content: center;
}
.container .indexContainer .inner-container .sections .section.sec1 .sec-con .bcon .items {
    /* padding: 30px 0; */
}
.container .indexContainer .inner-container .sections .section.sec1 .sec-con .bcon .items>ul {
    display: flex;
    justify-content: space-between;
    /* gap: 20px; */
    gap: 1.25rem;
}
.container .indexContainer .inner-container .sections .section.sec1 .sec-con .bcon .items>ul>li {
    border: 1px solid #666666;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.container .indexContainer .inner-container .sections .section.sec1 .sec-con .bcon .items>ul>li:hover {
    background-color: #919191c4;
    cursor: pointer;
}
.on {
    background-color: #66666685;
}

/* section2 */
.sections .section.sec2 {
    /* border: 0px solid; */
    box-sizing: border-box;
    background-color: rgb(252, 230, 230);
}
.sections .section.sec2 .sec-con {
    /* border: 0px solid; */
    width: 100%;
    height: 90vh;
    position: relative;
    overflow: hidden;
}
.sections .section.sec2 .sec-con .banner-con {
    position: absolute;
    left: 0;
    width: 600%;
    height: inherit;
}
.sections .section.sec2 .sec-con .banner-con>ul {
    display: flex;
    justify-content: space-between;
    height: inherit;
}
.sections .section.sec2 .sec-con .banner-con>ul>li {
    width: 100vw;
    /* border: 0px solid; */
    height: inherit;
    display: flex;
    justify-content: space-between;
}

/* sec2-left */
.sections .section.sec2 .sec-con .banner-con>ul>li .left-con {
    flex: 0 1 50%;
    /* border: 0px solid; */
    box-sizing: border-box;
}
.sections .section.sec2 .sec-con .banner-con>ul>li .left-con img {
    display: block;
    width: 100%;
    height: auto;
}

/* sec2-right */
.sections .section.sec2 .sec-con .banner-con>ul>li .right-con {
    flex: 0 1 50%;
    /* border: 0px solid; */
    box-sizing: border-box;    
}
.sections .section.sec2 .sec-con .banner-con>ul>li .right-con .right-inner {
    padding: 5%;
    box-sizing: border-box;
    /* display: flex; */
    /* justify-content: center; */
}
.sections .section.sec2 .sec-con .banner-con>ul>li .right-con .right-title {
    /* padding: 20px; */
    padding: 1.25rem;
    box-sizing: border-box;
    /* border: 0px solid; */
    color: #222;
}
.sections .section.sec2 .sec-con .banner-con>ul>li .right-con .right-title h2.title {
    /* font-size: 50px; */
    font-size: 3.125rem;
    font-family: serif;
    font-weight: bold;
    /* line-height: 60px; */
    line-height: 3.75rem;
    letter-spacing: -2px;
    /* padding: 10px 0; */
    padding: 0.625rem 0;
}
.sections .section.sec2 .sec-con .banner-con>ul>li .right-con .right-title p {
    /* font-size: 20px; */
    font-size: 1.25rem;
    /* line-height: 20px; */
    line-height: 1.25rem;
}
.sections .section.sec2 .sec-con .banner-con>ul>li .right-con .right-inner>ul {
    display: flex;
    /* justify-content: space-between; */
    gap: 1.25rem;
}
.sections .section.sec2 .sec-con .banner-con>ul>li .right-con .right-inner>ul>li {
    /* padding: 40px 20px 20px; */
    padding: 2.5rem 1.25rem 1.25rem;
}
.sections .section.sec2 .sec-con .banner-con>ul>li .right-con .right-inner>ul>li img {
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
}
.sections .section.sec2 .sec-con .banner-con>ul>li .right-con .right-inner>ul>li p {
    /* font-size: 20px; */
    font-size: 1.25rem;
    /* padding: 5px; */
    padding: 0.3125rem;
}
.sections .section.sec2 .sec-con .banner-con>ul>li .right-con .right-inner>ul>li a{
    display: block;
    padding: 10px;
    box-sizing: border-box;
    color: #222;
    /* font-size: 20px; */
    font-size: 1.25rem;
    transition: all 0.1s ease-in-out;
}
.sections .section.sec2 .sec-con .banner-con>ul>li .right-con .right-inner>ul>li a:last-child:hover {
    color: rgb(250, 78, 78);
}

/* sec2-centerArrow */
.container .indexContainer .inner-container .sections .section.sec2 .sec-con .center-btn {
    width: 100%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    /* padding: 0 10px; */
    padding: 0 0.625rem;
    box-sizing: border-box;
}
.container .indexContainer .inner-container .sections .section.sec2 .sec-con .center-btn span.arrow {
    width: 40px;
    height: 40px;
    /* border: 0px solid; */
    box-sizing: border-box;
    display: block;
    cursor: pointer;
}
.container .indexContainer .inner-container .sections .section.sec2 .sec-con .center-btn span.arrow:nth-child(1){
    background: url(../../img/bg_slide_btn.png) no-repeat 10%/cover;
    background-color: rgba(102, 102, 102, 0.26);
    z-index: 9;
}
.container .indexContainer .inner-container .sections .section.sec2 .sec-con .center-btn span.arrow:nth-child(2){
    background: url(../../img/bg_slide_btn.png) no-repeat 90%/cover;
    background-color: rgba(102, 102, 102, 0.26);
    z-index: 9;
}
/* sec2-bcon */

.sections .section.sec2 .sec-con .bcon {
    position: absolute;
    left: 25%;
    transform: translateX(-50%);
    /* bottom: 20px; */
    bottom: 1.25rem;
}
.sections .section.sec2 .sec-con .bcon .items {
    /* border: 0px solid; */
    box-sizing: border-box;
}
.sections .section.sec2 .sec-con .bcon .items>ul {
    display: flex;
    justify-content: space-between;
    /* gap: 5px; */
    gap: 0.3125rem;
}
.sections .section.sec2 .sec-con .bcon .items>ul>li {
    border: 1px solid #666666;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
}
.sections .section.sec2 .sec-con .bcon .items>ul>li:hover {
    background-color: #66666685;
}
.on2 {
    background-color: #66666685;
}
/* sec2-popup */

.sections .section.sec2 .sec-con .popup {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    /* background-color: rgba(34, 34, 34, 0.438); */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.sections .section.sec2 .sec-con .popup .popup-con {
    width: 30vw;
    height: 30vw;
    /* border: 0px solid #f00; */
    position: relative;
    background-color: #66666641;
    box-shadow: 0px 0px 1px #000000;
}
.sections .section.sec2 .sec-con .popup .popup-con img {
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
}
.sections .section.sec2 .sec-con .popup .popup-con span.pop-close {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 15px;
    height: 15px;
    background: url(../../img/btn_close.png) no-repeat 50%/cover;
    cursor: pointer;
}
.sec2-popup {
    z-index: 0 !important;
    opacity: 1 !important;
}

/* sec3 */

.section.sec3 {
    width: 100%;
    height: auto;
}
.section.sec3 .sec-con {
    width: 100%;
    display: flex;
    justify-content: center;
}
.section.sec3 .sec-con ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.875rem 0;
}
.section.sec3 .sec-con ul li {
    flex: 1;
    height: auto;
}

.section.sec3 .sec-con ul li img {
    width: 100%;
    height: auto;
    display: block;
}

/* section4 */
.section.sec4 {
    width: 100%;
    height: auto;
    background-color: rgb(252, 230, 230);
}
.section.sec4 .sec-con {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
/* left */
.section.sec4 .sec-con .left-con {
    position: relative;
    flex: 0 1 50%;
    height: 100vh;
    border: 0px solid;
    box-sizing: border-box;
    overflow: hidden;
}
.section.sec4 .sec-con .left-con .gallery3 {
    position: absolute;
    left: 0;
    width: 400%;
    height: inherit;
}
.section.sec4 .sec-con .left-con .gallery3>ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: inherit;
}
.section.sec4 .sec-con .left-con .gallery3>ul>li {
    flex: 1;
    height: inherit;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.section.sec4 .sec-con .left-con .gallery3>ul>li div {
    position: absolute;
}

.section.sec4 .sec-con .left-con .gallery3>ul>li .big-img {
    /* width: 430px; */
    width: 22.7vw;
    /* height: 430px; */
    height: 22.7vw;
}
.section.sec4 .sec-con .left-con .gallery3>ul>li .big-img img {
    display: block;
    width: 100%;
    height: 100%;
}
.section.sec4 .sec-con .left-con .gallery3>ul>li .small-img {
    /* width: 320px; */
    width: 16.6vw;
    /* height: 320px; */
    /* height: 400px; */
    height: 20vw;
}
.section.sec4 .sec-con .left-con .gallery3>ul>li .small-img img {
    display: block;
    width: 100%;
    height: 100%;
}

.section.sec4 .sec-con .left-con .gallery3>ul>li .big-img.up {
    left: 5%;
    top: 5%;
}
.section.sec4 .sec-con .left-con .gallery3>ul>li .big-img.down {
    right: 5%;
    bottom: 5%;
}
.section.sec4 .sec-con .left-con .gallery3>ul>li .small-img.up {
    right: 5%;
    top: 5%;
}
.section.sec4 .sec-con .left-con .gallery3>ul>li .small-img.down {
    left: 5%;
    bottom: 5%;
}

.moveL {
    left: 7% !important;
}
.moveR {
    right: 7% !important;
}



/* sec4-right */

.section.sec4 .sec-con .right-con {
    flex: 0 1 50%;
}
.sections .section.sec4 .sec-con .right-con .right-inner {
    padding: 5%;
    box-sizing: border-box;
    background: url(../../img/sec4_r.jpg) no-repeat 50%/cover;
    height: 100%;
    
}
.sections .section.sec4 .sec-con .right-con .right-title {
    /* padding: 20px; */
    padding: 1.25rem;
    box-sizing: border-box;
    /* border: 0px solid; */
    color: #222;
}
.sections .section.sec4 .sec-con .right-con .right-title h2.title {
    /* font-size: 50px; */
    font-size: 3.125rem;
    font-family: serif;
    font-weight: 900;
    line-height: 3.125rem;
    letter-spacing: -3px;
}
.sections .section.sec4 .sec-con .right-con .right-title p {
    /* font-size: 25px; */
    font-size: 1.5625rem;
    /* line-height: 40px; */
    line-height: 2.5rem;
    font-weight: 500;
}

/* section5 */
.section.sec5 {
    width: 100%;
    height: auto;
}
.section.sec5 .sec-con {
    display: flex;
    justify-content: space-between;
    height: auto;
    background-color: rgb(252, 230, 230);
}
/* section5-left */
.section.sec5 .sec-con .left-con {
    flex: 0 1 100%;
    /* border: 0px solid; */
    box-sizing: border-box;
}
.section.sec5 .sec-con .left-con img {
    width: 100%;
    display: block;
    height: auto;
}


/* section5-right */
.section.sec5 .sec-con .right-con {
    flex: 0 1 100%;
    height: inherit;    
}
.sections .section.sec5 .sec-con .right-con .right-inner {
    padding: 5%;
    box-sizing: border-box;
    height: 100%;    
}
.sections .section.sec5 .sec-con .right-con .right-title {
    /* padding: 20px; */
    padding: 1.25rem;
    box-sizing: border-box;
    /* border: 0px solid; */
    color: #222;
}
.sections .section.sec5 .sec-con .right-con .right-title h2.title {
    /* font-size: 50px; */
    font-size: 3.125rem;
    font-family: serif;
    font-weight: 900;
    /* line-height: 50px; */
    line-height: 3.125rem;
    letter-spacing: -3px;
}
.sections .section.sec5 .sec-con .right-con .right-title p {
    /* font-size: 25px; */
    font-size: 1.5625rem;
    /* line-height: 40px; */
    line-height: 2.5rem;
    font-weight: 500;
}
.sections .section.sec5 .sec-con .right-con .right-inner>ul {
    /* border: 0px solid; */
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.sections .section.sec5 .sec-con .right-con .right-inner>ul>li {
    flex: 1;
    height: auto;
    /* display: flex; */
    /* gap: 0.1%; */
}
.sections .section.sec5 .sec-con .right-con .right-inner>ul>li img {
    width: 100%;
    height: auto;
    display: block;
}

/* w:1250px */

@media only screen and (max-width:1280px){
    .container .indexContainer .inner-container .sections .section.sec1 .sec-con {
        height: 80vh;
    }
    .container .indexContainer .inner-container .sections .section.sec2 .sec-con {
        height: 70vh;
    }
    .sections .section.sec2 .sec-con .popup {
        height: 70vh;
    }
    .container .indexContainer .inner-container .section.sec4 .sec-con .left-con {
        height: 70vh;
    }
}
/* 테블릿 980px */
@media only screen and (max-width:980px){
    html {
        font-size: 14px;
    }
    .container .indexContainer .inner-container .sections .section.sec1 .sec-con {
        height: 70vh;
    }
    .container .indexContainer .inner-container .sections .section.sec2 .sec-con {
        height: 60vh;
    }
    .sections .section.sec2 .sec-con .popup {
        height: 60vh;
    }
    .container .indexContainer .inner-container .section.sec4 .sec-con .left-con {
        height: 60vh;
    }
    
    .section.sec3 .sec-con ul {
        justify-content: center;
        flex-wrap: wrap;
    }
    .section.sec3 .sec-con ul li {
        flex: 0 1 90%;
    }
    .section.sec5 .sec-con {
        flex-wrap: wrap;
    } 
    
}
/* 모바일 768px */
@media only screen and (max-width:768px){
    html {
        font-size: 10px;
    }
    .container .indexContainer .inner-container .sections .section.sec1 .sec-con {
        height: 50vh;
    }
    .container .indexContainer .inner-container .sections .section.sec2 .sec-con {
        height: 50vh;
    }

   

    .sections .section.sec2 .sec-con .popup {
        height: 50vh;
    }    
    .section.sec3 .sec-con ul {
        width: 100%;
        flex-wrap: wrap;
    }
    .section.sec3 .sec-con ul li {
        flex: 0 1 100%;
    }
    .container .indexContainer .inner-container .section.sec4 .sec-con .left-con {
        height: 50vh;
    }

       
}
/* 모바일 540px */
@media only screen and (max-width:540px){
    html {
        font-size: 5px;
    }
       
}
