.header {
    position: relative;
}
.header::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #cccccc;
}
.container {

}
.container .login-container {
    width: 100%;
    height: 80vh;
    border: 0px solid;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    /* padding: 100px 0; */
    align-items: center;
    box-sizing: border-box;
}

.container .login-container .inner-container .login-form {
    width: 100%;
    max-width: 600px;
    border: 0px solid;
    box-sizing: border-box;
    box-shadow: 0px 0px 1px #000000;
}
.container .login-container .inner-container .login-form h1.title {
    text-align: center;
    border: 0px solid;
    box-sizing: border-box;
    /* padding: 50px 0; */
    padding: 3.125rem 0;
    /* font-size: 40px; */
    font-size: 2.5rem;
    color: #222;
}
.container .login-container .inner-container .login-form ul {
    display: flex;
    flex-direction: column;
    /* padding: 0 20px; */
    padding: 0 1.25rem;
    box-sizing: border-box;
}
.container .login-container .inner-container .login-form ul li {
    border: 0px solid;
    /* padding: 10px; */
    padding: 0.625rem;
    box-sizing: border-box;
}


.container .login-container .inner-container .login-form ul li p.sub-title {
    color: #666;
    /* font-size: 14px; */
    font-size: 0.875rem;
    /* line-height: 20px; */
    line-height: 1.25rem;
    /* padding-bottom: 20px; */
    padding-bottom: 1.25rem;
    box-sizing: border-box;
    position: relative;
}
.container .login-container .inner-container .login-form ul li p.sub-title::after {
    content: '';
    display: block;
    position: absolute;
    left: 0%;
    /* bottom: 10px; */
    bottom: 0.625rem;
    width: 100%;
    height: 1px;
    background-color: #666;
}
.container .login-container .inner-container .login-form ul li.li2 .login-check {
    display: flex;
    border: 0px solid;
    /* line-height: 30px; */
    line-height: 1.875rem;
    /* gap: 5px; */
    gap: 0.3125rem;
    color: #666;
}
.container .login-container .inner-container .login-form ul li.li2 .login-check label {

}
.container .login-container .inner-container .login-form ul li.li2 .login-check input[type=radio] {
    display: block;
    /* width: 26px; */
    width: 1.625rem;
    /* height: 26px; */
    height: 1.625rem;
    cursor: pointer;
}
.container .login-container .inner-container .login-form ul li.li2 .login-check input[type=radio]#loginPhone {
    left: 65px;
}
.container .login-container .inner-container .login-form ul li.li3 {
    display: flex;
    justify-content: space-between;
}
.container .login-container .inner-container .login-form ul li.li3 .login-box {
    flex: 0 1 400px;
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
    gap: 0.3125rem;
}
.container .login-container .inner-container .login-form ul li.li3 .login-box input {
    display: block;
    /* padding: 10px; */
    padding: 0.625rem;
    outline: 0;
    font-size: 14px;
    color: #666;
    box-shadow: 0px 0px 1px #000000;
    border: 0;
}
.container .login-container .inner-container .login-form ul li.li3 input:focus {
    /* border: 1px solid; */
    box-shadow: 0px 0px 2px #000000;
    box-sizing: border-box;
}
.container .login-container .inner-container .login-form ul li.li3 .pLogin-box {
    flex: 0 1 400px;
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
    gap: 0.3125rem;
}
.container .login-container .inner-container .login-form ul li.li3 .pLogin-box input#userId2 {
    display: block;
    /* padding: 10px; */
    padding: 0.625rem;
    outline: 0;
    /* font-size: 14px; */
    font-size: 0.875rem;
    color: #666;
    box-shadow: 0px 0px 1px #000000;
    border: 0;
}
.container .login-container .inner-container .login-form ul li.li3 .pLogin-box .phoneBox {
    display: flex;
    /* gap: 10px; */
    gap: 0.625rem;
}
.container .login-container .inner-container .login-form ul li.li3 .pLogin-box .phoneBox select {
    flex: 1;
    /* padding: 10px; */
    padding: 0.625rem;
    outline: 0;
    /* font-size: 14px; */
    font-size: 0.875rem;
    color: #666;
    box-shadow: 0px 0px 1px #000000;
    border: 0;
}
.container .login-container .inner-container .login-form ul li.li3 .pLogin-box .phoneBox input {
    flex: 4;
    /* padding: 10px; */
    padding: 0.625rem;
    outline: 0;
    /* font-size: 14px; */
    font-size: 0.875rem;
    color: #666;
    box-shadow: 0px 0px 1px #000000;
    border: 0;
}
.container .login-container .inner-container .login-form ul li.li3 input[type=submit] {
    display: block;
    flex: 0 1 7.5rem;
    /* height: 85px; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #ef426f;
    border: 0;
    /* line-height: 30px; */
    line-height: 1.875rem;
    /* font-size: 18px; */
    font-size: 1.125rem;
    cursor: pointer;
}
.inputNone {
    display: none !important;
}

.container .login-container .inner-container .login-form ul li.li4  {
    display: flex;
    /* line-height: 26px; */
    line-height: 1.625rem;
    color: #666;
}
.container .login-container .inner-container .login-form ul li.li4  input[type=checkbox] {
    display: none;
    flex: 0 1 500px;
}
.container .login-container .inner-container .login-form ul li.li4  input[type=checkbox] + label::before {
    /* background: url(../../img/check_a.png) 50% no-repeat/cover; */
    content: '';
    display: block;
    /* width: 26px; */
    width: 1.625rem;
    /* height: 26px; */
    height: 1.625rem;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
}

.container .login-container .inner-container .login-form ul li.li4  input[type=checkbox]:checked + label::before {
    content: 'V';
    display: block;
    text-align: center;
    border: 1px solid rgb(250, 78, 78);
    color: rgb(250, 78, 78);
    /* line-height: 26px;   */
    line-height: 1.625rem;
}
.container .login-container .inner-container .login-form ul li.li4 .join-box {
    /* padding-left: 80px; */
    padding-left: 5rem;
    box-sizing: border-box;
}
.container .login-container .inner-container .login-form ul li.li4 .join-box a {
    color: inherit;
    font-size: inherit;
    position: relative;
    /* padding: 0 5px; */
    padding: 0 0.3125rem;
    box-sizing: border-box;
}
.container .login-container .inner-container .login-form ul li.li4 .join-box a:not(:last-child):after {
    position: absolute;
    content: '';
    display: block;
    right: -4px;
    /* right: 0.25rem; */
    /* top: 4px; */
    top: 0.25rem;
    width: 1px;
    height: 16px;
    /* height: 1rem; */
    background-color: rgb(158, 158, 158);
}
.container .login-container .inner-container .login-form ul li.li5 {
    display: flex;
    justify-content: space-between;
    /* padding: 10px; */
    padding: 0.625rem;
    box-sizing: border-box;
}
.container .login-container .inner-container .login-form ul li.li5 p.p1 {
    /* font-size: 20px; */
    font-size: 1.25rem;
    color: #222;
}
.container .login-container .inner-container .login-form ul li.li5 p.memberShip {
    /* font-size: 12px; */
    font-size: 0.75rem;
    color: #666;
}
.container .login-container .inner-container .login-form ul li.li5 p.memberShip a {
    color: inherit;
    font-size: inherit;
}
.container .login-container .inner-container .login-form ul li.li6 {
    color: #666;
    /* font-sze: 14px; */
    font-size: 0.875rem;
}


.container .login-container .inner-container .sns-con {
    width: 100%;
    max-width: 600px;
    padding: 30px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    border: 0px solid;
    background-color: rgba(102, 102, 102, 0.199);
}
.container .login-container .inner-container .sns-con .pcon {
    flex: 3;
    border: 0px solid;
    box-sizing: border-box;
    color: #666;
}
.container .login-container .inner-container .sns-con .sns-img-con {
    flex: 1.5;
    border: 0px solid;
    box-sizing: border-box;    
    display: flex;
    justify-content: space-between;
    /* gap: 5px; */
    gap: 0.3125rem;
}
.container .login-container .inner-container .sns-con .sns-img-con a {
    display: block;
    width: 30px;
    height: 30px;
}
.container .login-container .inner-container .sns-con .sns-img-con a:nth-child(1){
    background: url(../../img/sns_naver.png) no-repeat 50%/cover;
}
.container .login-container .inner-container .sns-con .sns-img-con a:nth-child(2){
    background: url(../../img/sns_color.face.png) no-repeat 50%/cover;
}
.container .login-container .inner-container .sns-con .sns-img-con a:nth-child(3){
    background: url(../../img/sns_kakao.png) no-repeat 50%/cover;
}

/* 테블릿 980px */
@media only screen and (max-width:980px){
    html {
        font-size: 14px;
    }
    
}
/* 모바일 768px */
@media only screen and (max-width:768px){
    html {
        font-size: 10px;
    }       
}
/* 모바일 540px */
@media only screen and (max-width:540px){
    html {
        font-size: 5px;
    }
       
}

